.form-container {
   margin: 0 auto; 
   width:250px;
   border: 0px solid #000000;
   background: #242424;
   background: -webkit-gradient(linear, left top, left bottom, from(#6b6e6a), to(#242424));
   background: -webkit-linear-gradient(top, #6b6e6a, #242424);
   background: -moz-linear-gradient(top, #6b6e6a, #242424);
   background: -ms-linear-gradient(top, #6b6e6a, #242424);
   background: -o-linear-gradient(top, #6b6e6a, #242424);
   background-image: -ms-linear-gradient(top, #6b6e6a 0%, #242424 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 0px solid #c9b7a2;
   background: #000000;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #5cbfcc;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff5ff;
   color: #287056;
   }
.form-container h2 {
   text-shadow: #000000 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #ffffff;
   text-shadow: #000000 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 0px solid #000000;
   background: #294a0a;
   background: -webkit-gradient(linear, left top, left bottom, from(#040800), to(#294a0a));
   background: -webkit-linear-gradient(top, #040800, #294a0a);
   background: -moz-linear-gradient(top, #040800, #294a0a);
   background: -ms-linear-gradient(top, #040800, #294a0a);
   background: -o-linear-gradient(top, #040800, #294a0a);
   background-image: -ms-linear-gradient(top, #040800 0%, #294a0a 100%);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #fafafa;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 0px solid #2c5203;
   text-shadow: #013d05 0 1px 0;
   background: #3d7d01;
   background: -webkit-gradient(linear, left top, left bottom, from(#2d5403), to(#3d7d01));
   background: -webkit-linear-gradient(top, #2d5403, #3d7d01);
   background: -moz-linear-gradient(top, #2d5403, #3d7d01);
   background: -ms-linear-gradient(top, #2d5403, #3d7d01);
   background: -o-linear-gradient(top, #2d5403, #3d7d01);
   background-image: -ms-linear-gradient(top, #2d5403 0%, #3d7d01 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #407a01 0 1px 0;
   border: 0px solid #356600;
   background: #54a102;
   background: -webkit-gradient(linear, left top, left bottom, from(#458c02), to(#3d7d01));
   background: -webkit-linear-gradient(top, #458c02, #54a102);
   background: -moz-linear-gradient(top, #458c02, #54a102);
   background: -ms-linear-gradient(top, #458c02, #54a102);
   background: -o-linear-gradient(top, #458c02, #54a102);
   background-image: -ms-linear-gradient(top, #458c02 0%, #54a102 100%);
   color: #fff;
   }
